<link href="assets/css/nav-pages.css" rel="stylesheet" type="text/css">

<div class="d-flex align-items-center justify-content-center center-in-middle">
    <div class="row border-purple border-rounded col-sm-12 col-md-10" style="margin-bottom: 4.7rem;">
        <h1 class="text-center">Select a World Stage!</h1>
        <hr class="mb-2">

        <div class="row mb-2 p-0" id="stages-list" style="margin: 0 auto;"></div>
    </div>
</div>

<div hidden id="copy-stage-desc">
    <div class="card-stage-fix col-sm-6 col-md-4 card-game text-shadow {{stage-level-color}}" id="stage-level-{{stage-level}}">
        <div class="card-game-content">
            <h3 class="mb-0">Level: {{stage-level}}
               <span class="float-end" style="position: relative; top: 4px; font-size: 24px;">
                    <i id="star1-stage-{{stage-level}}" class="fa-regular fa-star"></i>
                    <i id="star2-stage-{{stage-level}}" class="fa-regular fa-star"></i>
                    <i id="star3-stage-{{stage-level}}" class="fa-regular fa-star"></i>
               </span>
            </h3>
            <hr class="mt-2 mb-2 golden">

            <nav class="nav nav-pills nav-justified" hidden style="display: none">
                <button class="nav-link active" id="s{{stage-level}}p1" data-bs-toggle="tab" data-bs-target="#nav-home-{{stage-level}}" type="button" role="tab" aria-controls="nav-home-{{stage-level}}" aria-selected="true"></button>
                <button class="nav-link" id="s{{stage-level}}p2" data-bs-toggle="tab" data-bs-target="#nav-profile-{{stage-level}}" type="button" role="tab" aria-controls="nav-profile-{{stage-level}}" aria-selected="false"></button>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home-{{stage-level}}" role="tabpanel" aria-labelledby="s{{stage-level}}p1">
                    <div class="mb-2">
                        <h5>{{simple-description}}</h5>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="text-white text-center mt-3 mb-3">
                        <h3 id="score-stage-title-{{stage-level}}">
                            Score: <span id="score-stage-{{stage-level}}">00000</span>
                        </h3>
                        <h5 class="mb-0 mt-0" style="padding: 2px 0;">Your Time: <span id="time-stage-{{stage-level}}">--:--</span></h5>
                        <h5 class="mt-0 mb-0" style="padding: 2px 0;">Hits: <span id="tot-hits-{{stage-level}}">00/{{stage-total-hits}}</span></h5>
                        <h5 class="mt-0 mb-0" style="padding: 2px 0;">Errors: <span id="tot-err-{{stage-level}}">0</span></h5>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-profile-{{stage-level}}" role="tabpanel" aria-labelledby="s{{stage-level}}p2">
                    <div class="mb-2">
                        <span class="text-start float-start" style="font-size: 17px; padding: 14px 0;">
                            <i class="fa-solid fa-star text-warning" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-star text-warning" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-star text-warning" style="font-size: 20px;"></i>
                            {{goal_1}}
                            <hr class="mt-2 mb-2">
                            <i class="fa-solid fa-star text-warning" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-star text-warning" style="font-size: 20px;"></i>
                            <i class="fa-regular fa-star" style="font-size: 20px;"></i>
                            {{goal_2}}
                            <hr class="mt-2 mb-2">
                            <i class="fa-solid fa-star text-warning" style="font-size: 20px;"></i>
                            <i class="fa-regular fa-star" style="font-size: 20px;"></i>
                            <i class="fa-regular fa-star" style="font-size: 20px;"></i>
                            {{goal_3}}
                        </span>
                    </div>
                </div>
            </div>

            <hr class="mt-1 mb-0">
            <div class="row">
                <div class="col-5 p-1">
                    <div hidden="">
                        <span id="goals-name">Goals</span>
                        <span id="back-name">Back</span>
                    </div>
                    <button class="btn-game btn-purple sfx-click col-12" type="button"
                            onclick="changeTab('#s{{stage-level}}p2', this);" stage-lvl-btn="{{stage-level}}">
                        <span class="mb-0">Goals</span>
                    </button>
                </div>
                <div class="col-7 p-1">
                    <button class="btn-game btn-green sfx-click col-12" type="button"
                            onclick="playStage('{{stage-level}}')">
                        <span><i class="fa-solid fa-play"></i>Start</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div hidden id="copy-block-stage-desc">
    <div class="card-stage-fix col-sm-6 col-md-4 card-game bg-card-dark text-shadow">
        <div class="card-game-content row">
            <div class="col-12 text-center"></div>
            <div class="col-12 text-center">
                <h3 class="mt-2 mb-2">
                    <i class="fa-solid fa-lock fa-2x"></i><hr>
                    Needed: <span>{{star-needed}}</span> <i class="fa-solid fa-star"></i>
                </h3>
            </div>
        </div>
    </div>
</div>

<script>
    playSong('moe-moe-garden-in-the-brain.mp3');
    includeFooter('menu/main-menu', true);

    function changeTab(tabId, e){
        document.querySelector(tabId).click();

        e.removeAttribute("onclick");

        if(document.querySelector("#nav-home-"+e.getAttribute('stage-lvl-btn')).classList.contains("active")){
            e.setAttribute("onclick", "changeTab('#s"+e.getAttribute('stage-lvl-btn')+"p1', this)");
            e.innerHTML = '<span class="mb-0">'+document.querySelector("#back-name").innerText+'</span>';
            e.classList.remove("btn-purple");
            e.classList.add("btn-danger");
        } else {
            e.setAttribute("onclick", "changeTab('#s"+e.getAttribute('stage-lvl-btn')+"p2', this)");
            e.innerHTML = '<span class="mb-0">'+document.querySelector("#goals-name").innerText+'</span>';
            e.classList.remove("btn-danger");
            e.classList.add("btn-purple");
        }
    }

    function buildLevels(){
        if(!document.querySelector("#copy-stage-desc")){ return false; }

        let worldName = "";
        let worldNum = 0;
        let nameCol = "";
        getStageSettings().forEach(level => {
            //Replace itens with level number
            let copyTemplateStage = document.querySelector("#copy-stage-desc").innerHTML.replaceAll('{{stage-level}}', level['level']);

            //Replace itens with level description
            if(!level['description']){
                let totalItemsStage = level['totalItems'] ? level['totalItems'] : Math.floor((level['maxTime'] * level['gridLength'])/(level['refreshGameTime'] + level['gridMaxMatchItems']));
                level['description'] = "Find all "+totalItemsStage+" items within "+formatTime(level['maxTime'])+" time.";
            }

            copyTemplateStage = copyTemplateStage.replaceAll('{{stage-level-color}}', (level['levelColor'] ? level['levelColor'] : ""));
            copyTemplateStage = copyTemplateStage.replaceAll('{{simple-description}}', level['description']);

            //Get Total itens to beat the game
            let total = level['totalItems'] ? level['totalItems'] : Math.floor((level['maxTime'] * level['gridLength'])/(level['refreshGameTime'] + level['gridMaxMatchItems']))
            copyTemplateStage = copyTemplateStage.replaceAll('{{stage-total-hits}}', total);

            //Add the achievments about the stage level (Star 3)
            let totalItens1 = level['achievements'][2]['thirdStarHits'] == 0 ? total : level['achievements'][2]['thirdStarHits'];
            let errors1 = (level['achievements'][2]['thirdStarErrors'] > 0 ? '(Max Errors: '+level['achievements'][2]['thirdStarErrors']+")" : '(Errors Acceptable)');
            let goal1 = 'Up to '+formatTime(level['achievements'][2]['thirdStarTime'])+', '+totalItens1+' hits '+errors1;
            copyTemplateStage = copyTemplateStage.replaceAll('{{goal_1}}', goal1);

            //Add the achievments about the stage level (Star 2)
            let totalItens2 = level['achievements'][1]['secondStarHits'] == 0 ? total : level['achievements'][1]['secondStarHits'];
            let errors2 = (level['achievements'][1]['secondStarErrors'] > 0 ? '(Max Errors: '+level['achievements'][1]['secondStarErrors']+")" : '(Errors Acceptable)');
            let goal2 = 'Up to '+formatTime(level['achievements'][1]['secondStarTime'])+', '+totalItens2+' hits '+errors2;
            copyTemplateStage = copyTemplateStage.replaceAll('{{goal_2}}', goal2);

            //Add the achievments about the stage level (Star 1)
            let totalItens3 = level['achievements'][0]['firstStarHits'] == 0 ? total : level['achievements'][0]['firstStarHits'];
            let errors3 = (level['achievements'][0]['firstStarErrors'] > 0 ? '(Max Errors: '+level['achievements'][0]['firstStarErrors']+")" : '(Errors Acceptable)');
            let goal3 = 'Up to '+formatTime(level['achievements'][0]['firstStarTime'])+', '+totalItens3+' hits '+errors3;
            copyTemplateStage = copyTemplateStage.replaceAll('{{goal_3}}', goal3);

            //Add all HTML level template to the stage div with world name
            if(worldName != level['world']){
                if(worldName != ""){
                    worldNum++;
                }
                worldName = level['world'];
                nameCol = 'col-world-'+worldNum;

                if(!document.querySelector('#'+nameCol)){
                    let defineSpace = worldNum > 0 ? "mt-2" : "";
                    let defineColor = worldName == "Challenges" ? "bg-orange text-white" : "btn-purple";
                    document.querySelector("#stages-list").insertAdjacentHTML("beforeend",
                        '<button class="btn-game '+defineColor+' sfx-click '+defineSpace+'" type="button" data-bs-toggle="collapse" data-bs-target="#'+nameCol+'" aria-expanded="false" aria-controls="'+nameCol+'" onclick="closeOtherCollapses()"><i class="'+level['stageIcon']+'"></i>'+worldName+'</button>' +
                        '<div class="collapse row content-'+nameCol+' btn-stages-collapses border-rounded bg-smoke" id="'+nameCol+'" style="margin: 0 auto;padding: 5px 0 8px 0;"></div>'
                    );
                }
            }

            //Check if the player has the unlockable start to play the current stage
            if(level['unlockWith'] > 0 && PLAYER.getTotalStars() <= level['unlockWith']){
                let levelBlocked = document.querySelector("#copy-block-stage-desc").innerHTML
                    .replaceAll("{{star-needed}}", PLAYER.getTotalStars()+"/"+level['unlockWith']);
                document.querySelector(".content-"+nameCol).insertAdjacentHTML("beforeend", levelBlocked);
            } else {
                document.querySelector(".content-"+nameCol).insertAdjacentHTML("beforeend", copyTemplateStage);
            }


            //Get stage results if player has one
            setTimeout(function (){
                let stageResultsLevel = getStageResults(level['level']);

                if(stageResultsLevel && stageResultsLevel['total_items']){
                    for(let s = 0; s < stageResultsLevel['stars']; s++){
                        if(document.querySelector("#star"+(s+1)+"-stage-"+level['level'])){
                            document.querySelector("#star"+(s+1)+"-stage-"+level['level']).classList.remove('fa-regular');
                            document.querySelector("#star"+(s+1)+"-stage-"+level['level']).classList.add('fa-solid');
                            document.querySelector("#star"+(s+1)+"-stage-"+level['level']).classList.add('text-warning');
                        }
                    }
                    document.querySelector("#score-stage-title-"+level['level']).classList.add("text-warning");
                    document.querySelector("#score-stage-"+level['level']).innerText = stageResultsLevel['score'];
                    document.querySelector("#time-stage-"+level['level']).innerText = stageResultsLevel['time'];
                    document.querySelector("#tot-hits-"+level['level']).innerText = stageResultsLevel['hits']+"/"+stageResultsLevel['total_items'];
                    document.querySelector("#tot-err-"+level['level']).innerText = stageResultsLevel['errors'];
                }
            }, 50);
        });
    }
    buildLevels();
</script>
