<div class="container row rpgui-content center-in-screen reset-margin-center">
    <div class="rpgui-container framed row fix-position">
        <div class="row rpgui-content fix-position" id="stages-list">
            <div class="rpgui-container framed-golden-2 fix-position col-sm-6 col-md-4">
                <h2>Level 1</h2>
                <p>Descriptions about the number of stars</p>

                <div class="text-white">Show the stars here (obtained and not)</div>
                <button class="rpgui-button rpgui-button-success text-white sfx-click" type="button"
                        onclick="playStage(1)">
                    <i class="fa-solid fa-play fix-icon-btn"></i> Play
                </button>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/stage-rules.js"></script>