<h5 class="text-center mb-0">Language:</h5>
<select id="lang-game" class="selectpicker input-game text-center p-0 col-12"
        onchange="translateLang(this.value)" aria-label="lang-game">
  <option value="en">&#x1F1FA;&#x1F1F8; English</option>
  <option value="pt">&#x1F1E7;&#x1F1F7; Português</option>
  <option value="es">&#x1F1EA;&#x1F1F8; Español</option>
  <option value="de">&#x1F1E9;&#x1F1EA; Deutsch</option>
  <option value="fr">&#x1F1EB;&#x1F1F7; Français</option>
  <option value="it">&#x1F1EE;&#x1F1F9; Italiano</option>
  <option value="pl">&#x1F1F5;&#x1F1F1; Polski</option>
</select>
<script>$('.selectpicker').selectpicker();</script>