<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#beginModal" id="beginModalBtn" hidden></button>
<div class="modal fade" id="beginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="beginModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-purble border-rounded">
            <div class="modal-header" style="margin: 0 auto">
                <h1 class="modal-title text-center" id="regards">Welcome Player!</h1>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <div class="d-grid gap-2">
                        <button class="btn-game btn-purple sfx-click" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseHowToPlay" aria-expanded="false" aria-controls="collapseHowToPlay">
                            <span class="mb-0">How to Play</span>
                        </button>
                    </div>
                    <div class="collapse" id="collapseHowToPlay">
                        <div class="text-center">
                            <p class="mb-0">Describe here a small tutorial.</p>
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn-game btn-purple sfx-click" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDonate" aria-expanded="false" aria-controls="collapseDonate">
                        <span class="mb-0">Donate</span>
                    </button>
                </div>
                <div class="collapse" id="collapseDonate">
                    <div class="text-center">
                        <label>If you enjoy, </label> <a href="#">Donate here!</a>
                    </div>
                </div>

                <hr class="golden mt-2 mb-2">

                <div class="text-center text-white" style="background: #716d6d;padding: 5px;border-radius: 22px;">
                    <h3>Before Start!</h3>
                    <p class="mb-0">This game uses your browser's cookies to store data about your gameplay.</p>
                </div>
                <hr class="mt-2 mb-2">

                <h4 class="text-center mb-0">Player Name:</h4>
                <input placeholder="Type Here" class="input-game text-center mb-1" name="nickname" id="nickname"
                       required oninput="validateNickName(this)" style="font-size: 18px">
                <div class="text-center"><small class="text-danger text-center" hidden id="showmsg">* Field Required</small></div>

            </div>
            <div class="modal-footer">
                <button class="btn-game btn-purple sfx-click" type="button" data-bs-dismiss="modal"
                        id="start-game" onclick="startGaming()" disabled>Save
                </button>
            </div>
        </div>
    </div>

</div>

<script>
    document.querySelector("#beginModalBtn").click();
    function validateNickName(e){
        let startBtn = document.querySelector("#start-game");
        let msgErr = document.querySelector("#showmsg");
        if(!e.value || e.value == "" || e.value == " "){
            startBtn.setAttribute("disabled", "disabled");
            msgErr.removeAttribute("hidden");
            return false;
        } else {
            startBtn.removeAttribute("disabled");
            msgErr.setAttribute("hidden", "hidden");
        }
    }
</script>