<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTemplate" id="modalTemplateBtn" hidden></button>
<div class="modal fade" id="modalTemplate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTemplateLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-purble border-rounded">
            <div class="modal-header" style="margin: 0 auto">
                <h1 class="modal-title text-center" id="modalTemplateTitle" style="text-decoration: none"></h1>
            </div>
            <div class="modal-body" id="modalTemplateContent"></div>
            <div class="modal-footer">
                <button class="btn-game btn-green sfx-click" type="button" data-bs-dismiss="modal" id="modalTemplateSave"></button>
            </div>
        </div>
    </div>
</div>