<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTemplate" id="modalTemplateBtn" hidden></button>
<div class="modal fade" id="modalTemplate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTemplateLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered rpgui-content reset-margin-center">
        <div class="modal-content rpgui-container framed fix-position">
            <div class="modal-header" style="margin: 0 auto">
                <h5 class="modal-title text-white text-center" id="modalTemplateTitle" style="text-decoration: none"></h5>
            </div>
            <div class="modal-body rpgui-container framed-grey fix-position" id="modalTemplateContent"></div>
            <div class="modal-footer">
                <button class="rpgui-button rpgui-button-success text-white sfx-click"
                        type="button" data-bs-dismiss="modal" id="modalTemplateSave"></button>
            </div>
        </div>
    </div>
</div>