<link href="assets/css/game.css" rel="stylesheet" type="text/css">
<link href="assets/css/animations.css" rel="stylesheet" type="text/css">


<!--<div class="container row rpgui-content center-in-screen reset-margin-center">
    <div class="rpgui-container framed col-sm-9 col-md-6" style="max-width: 621px">
        <input hidden id="results-in-game" value="">

        <div class="row">
            <div class="col-4 rpgui-container framed-grey p-0" id="timer" style="background: #878584;">
                <h1 class="mb-1" style="margin-top: 1.5rem;">Time</h1>
                <h2 id="clock-time" class="mb-0">--:--</h2>
                <hr class="mt-2 mb-0">
                <p class="mb-1 mt-1" style="margin-top: 1.5rem;">
                    <i id="star1" class="total-stars fa-regular fa-star fix-icon-btn"></i>
                    <i id="star2" class="total-stars fa-regular fa-star fix-icon-btn"></i>
                    <i id="star3" class="total-stars fa-regular fa-star fix-icon-btn"></i>
                </p>
            </div>
            <div class="col-4 rpgui-container framed-grey p-1" id="sort-item" style="background: #878584;"></div>
            <div class="col-4 rpgui-container framed-grey p-0" id="score" style="background: #878584;">
                <h1 class="mb-1" style="margin-top: 1.5rem;">Score</h1>
                <h2 id="score-numbers" class="mb-0">00000</h2>
                <hr class="mt-2 mb-0">
                <p class="mb-1 mt-1" style="margin-top: 1.5rem;"><span id="max-combo">0</span>x</p>
            </div>
        </div>

        <hr class="golden mt-3 mb-2">
        <div class="row" id="grid-game"><div class="ring" style="top: 4.65rem;">Loading<span class="loading-span"></span></div></div>

        <hr class="golden mt-3 mb-2">
        <div class="row">
            <div class="col-sm-12 col-md-8">
              <h1>powers and bonuses</h1>
            </div>
            <div class="col-sm-12 col-md-4">
                <button class="btn-game btn-danger sfx-click" type="button"
                        onclick="clearAll(); loadView('game/stages/index');">
                    <i class='fa-solid fa-arrow-left fix-icon-btn'></i> Back
                </button>
            </div>
        </div>

    </div>
</div>-->

<div class="d-flex align-items-center justify-content-center center-in-middle">
    <div class="row border-purble border-rounded p-0 col-sm-12 col-md-7 col-lg-5">
        <input hidden id="results-in-game" value="">

        <div class="row text-center" style="margin: 0 auto; padding: 0">
            <div class="col-12 bg-purple text-shadow text-white" style="padding: 0 16px;border-radius: 15px 15px 0 0;">
                <h4 class="mb-0 text-start">
                    <span class="text-start float-start" style="position: relative;top: 2px;">Time: <span id="clock-time" class="mb-0">--:--</span></span>
                    <span class="text-end float-end" style="position: relative;top: 3px;">
                        <i id="star1" class="total-stars fa-regular fa-star"></i>
                        <i id="star2" class="total-stars fa-regular fa-star"></i>
                        <i id="star3" class="total-stars fa-regular fa-star"></i>
                    </span>
                </h4>
            </div>

            <div class="text-shadow col-12 bg-smoke row" style="margin: 0 auto; padding: 0; border-radius: 0 0 25px 25px; border: 3px solid #743eb9">
                <div id="sort-item" class="text-center col-5 p-1"></div>
                <div class="col-7 p-0">
                    <h2 class="mb-0 mt-0 text-white">
                        Score: <span id="score-numbers" class="mb-0">00000</span>
                    </h2>
                    <div class="row bg-purple border-rounded" style="margin: 0 auto; width: 85%;padding: 0 18px;">
                        <h3 class="col-7 mb-0 text-start text-white" style="padding: 2px 0;"><span id="hits-counter">0</span>/<span id="max-itens-select"></span></h3>
                        <h3 class="col-5 mb-0 text-end text-white" style="padding: 2px 0;"><span id="max-combo">0</span>x</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="" id="grid-game">
            <div class="spinner-grow" role="status" style="color: var(--purple-6)"></div>
            <span style="font-size: 22px;">Loading...</span>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-7">
                <h1>powers and bonuses</h1>
            </div>
            <div class="col-sm-12 col-md-5">
                <button class="btn-game btn-danger sfx-click float-end" type="button"
                        onclick="clearAll(); loadView('game/stages/index');">
                    <i class='fa-solid fa-arrow-left fix-icon-btn'></i> Back
                </button>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/game-variables.js"></script>
<script src="assets/js/game-rules.js"></script>