<link href="assets/css/game.css" rel="stylesheet" type="text/css">
<link href="assets/css/animations.css" rel="stylesheet" type="text/css">

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalStartGame" id="modalStartGameBtn" hidden></button>
<div class="modal fade" id="modalStartGame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalStartGameLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-purple border-rounded">
            <div class="modal-header p-0 mb-2" style="margin: 0 auto">
                <h1 class="modal-title text-center" id="modalStartGameTitle" style="text-decoration: none">Find All Items!</h1>
            </div>
            <div class="modal-body p-0 mb-2" id="modalStartGameContent">
                <div class="row">
                    <div class="col-12 mb-2 card-game" id="find-this" style="margin: 0 auto; max-width: 280px"></div>
                    <div class="col-12 bg-purple border-rounded text-white text-shadow" style="width: 80%; margin: 0 auto">
                        <div id="find-total"></div>
                        <div id="find-time"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-0" style="margin: 0 auto">
                <button class="btn-game btn-green" type="button" data-bs-dismiss="modal" id="BtnGameStarting" hidden></button>
                <button class="btn-game btn-green" type="button" style="font-size: 32px;">Starting in: &nbsp; <span id="countdown">05</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pauseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pauseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-purple border-rounded">
            <div class="modal-header p-0 mb-2" style="margin: 0 auto">
                <h1 class="modal-title text-center" id="pauseModalTitle" style="text-decoration: none">Paused</h1>
            </div>
            <div class="modal-body p-0 mb-2" id="pauseModalContent">
                <div id="settings-menu"></div>
            </div>
            <div class="modal-footer p-0" style="margin: 0 auto">
                <button class="btn-game btn-danger sfx-click float-end" type="button" data-bs-dismiss="modal"
                        onclick="clearAll(); loadView('game/stages/index');" style="padding: 0.45rem 0.5rem;">
                    <i class='fa-solid fa-arrow-left fix-icon-btn'></i> Exit
                </button>
                <button class="btn-game btn-green sfx-click float-end" type="button" data-bs-dismiss="modal"
                        onclick="retryLevel();" style="padding: 0.45rem 0.5rem;">
                    <i class="fa-solid fa-rotate-right fix-icon-btn"></i> Retry
                </button>
                <button class="btn-game btn-purple sfx-click" type="button" data-bs-dismiss="modal"
                        onclick="gamePaused(document.querySelector('#pauseModalbtnGm'))" style="padding: 0.45rem 0.5rem;">
                    <i class="fa-solid fa-play"></i> Play
                </button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center center-in-middle" id="main-div">
    <div class="row border-rounded p-0 col-sm-12 col-md-7 col-lg-4 col-xl-5" id="game-table" style="display: none !important;">
        <input hidden id="results-in-game" value="">

        <div class="row text-center" style="margin: 0 auto; padding: 0">
            <div id="background-game" class="col-12 text-shadow text-white" style="padding: 0 16px;border-radius: 15px 15px 0 0;">
                <div class="row">
                    <div class="col-5 p-0">
                        <h4 class="text-left float-start" style="position: relative;top: 8px;left: 8px;">
                            <span class="text-start float-start">
                                Time: <span id="clock-time" class="mb-0">--:--</span>
                            </span>
                        </h4>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" class="btn-game btn-green sfx-click text-center" data-bs-toggle="modal"
                                onclick="gamePaused(this)" data-bs-target="#pauseModal" paused="false" id="pauseModalbtnGm"
                                style="text-decoration: none; margin: 0 auto; padding: 6px 17px; position: relative; top: 3px;">
                            <i class="fa-solid fa-circle-pause" style="margin-right: 0;"></i>
                        </button>
                    </div>
                    <div class="col-5 p-0">
                        <span class="text-end float-end" style="position: relative;top: 8px;font-size: 19px;right: 8px;">
                            <i id="star1" class="total-stars fa-regular fa-star"></i>
                            <i id="star2" class="total-stars fa-regular fa-star"></i>
                            <i id="star3" class="total-stars fa-regular fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="text-shadow col-12 bg-smoke row" id="score-div-points" style="margin: 0 auto; padding: 0; border-radius: 0 0 25px 25px; border-width: 3px; border-style: solid;">
                <div id="sort-item" class="text-center col-5 p-1"></div>
                <div class="col-7 p-0">
                    <h2 class="mb-0 mt-0 text-white">
                        Score: <span id="score-numbers" class="mb-0">00000</span>
                    </h2>
                    <div class="row border-rounded" id="tot-items-finish" style="margin: 0 auto; width: 85%;padding: 0 18px;">
                        <h3 class="col-7 mb-0 text-start text-white" style="padding: 2px 0;"><span id="hits-counter">0</span>/<span id="max-itens-select"></span></h3>
                        <h3 class="col-5 mb-0 text-end text-white" style="padding: 2px 0;"><span id="max-combo">0</span>x</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="" id="grid-game"></div>

        <hr class="mt-0 mb-1">
        <div class="row d-flex align-items-center justify-content-center align-to-center" id="game-powers" style="display: none !important;">
            <div class="alert bg-orange text-center mb-2 border-rounded" style="padding: 6px;">
                <h3 class="mb-0 mt-0 text-shadow text-white">Activating powers in: <span id="time-to-power"></span></h3>
            </div>
        </div>
    </div>
</div>

<script>include('menu/settings', '#settings-menu')</script>
<script src="assets/js/game-variables.js"></script>
<script src="assets/js/game-rules.js"></script>
<script src="assets/js/powers.js"></script>
<script>
    function loadPowers(){
        let load = new Powers();
        load.getPowers().forEach(power => {
            //Define the player quantity and status of power
            let currentItens = PLAYER.getPowerItens().find(item => item.id === power['id']);
            let remainingPowers = currentItens && currentItens['quantity'] ? currentItens['quantity'] : 0;
            let classblocked = remainingPowers <= 0 ? 'power-blocked' : '';
            let btnblocked = remainingPowers <= 0 ? 'disabled' : '';

            //Populate the power items
            document.querySelector("#game-powers").insertAdjacentHTML("beforeend",
            '  <div class="col-2 fix-power-space power-divs">' +
            '     <button class="powerups text-center '+classblocked+'" type="button" '+btnblocked+'' +
            '             onclick="applyPower(this, '+power['id']+')" style="background: '+power['bg-color']+'">\n' +
            '         <h3 class="countdown-power text-shadow text-warning" style="display: none"></h3>\n' +
            '         <span class="position-absolute power-count translate-middle badge rounded-pill bg-danger">'+remainingPowers+'</span>\n' +
            '         <img src="'+power['icon']+'">\n' +
            '      </button>' +
            '      <div class="progress" hidden style="position: relative;top: -3px;left: 1px;height: 0.4rem;width: 3.4rem;">\n' +
            '            <div class="progress-bar" role="progressbar" style="width: 0%;background: '+power['bg-color']+'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>\n' +
            '      </div>' +
            '   </div>'
            );
        });
    }

    loadPowers();
</script>