<nav class="navbar navbar-expand-lg bg-purple fixed-top text-shadow" id="header-nav" style="border-radius: 0 0 25px 25px;">
    <div class="container-fluid row">
        <div class="col-4 p-0 text-center">
            <a class="navbar-brand text-white" href="javascript:void(0);" style="margin: 0 auto;">
                <i class="fa-solid fa-circle-user" style="position: relative;top: 1px;font-size: 26px;"></i>
                <span id="player-name" style="font-size: 20px;position: relative;top: -2px;"></span>
            </a>
        </div>

        <div class="col-4 p-0 text-center">
            <a class="navbar-brand text-white" href="javascript:void(0);" style="margin: 0 auto;">
                <i class="fa-solid fa-coins text-warning" style="position: relative;top: 1px;font-size: 26px;margin-right: 0;"></i>
                <span id="player-coins" style="font-size: 20px;">0</span>
            </a>
        </div>

        <div class="col-4 p-0 text-center">
            <a class="navbar-brand text-white" href="javascript:void(0);" style="margin: 0 auto;">
                <i class="fa-solid fa-star" style="position: relative;top: 1px;font-size: 26px;margin-right: 0;"></i>
                <span id="star-count" style="font-size: 20px;">--/--</span>
            </a>
        </div>
    </div>
</nav>

<script>headerUpdateDate();</script>