<div class="d-flex align-items-center justify-content-center center-in-middle">
    <div class="row border-purple border-rounded col-sm-12 col-md-6 col-lg-4">
        <h1 class="text-center">World of Blocks!</h1>

        <hr class="mb-2">

        <div class="col-12" style="margin: 0 auto">
            <button class="btn-game btn-green sfx-click col-12 mb-3" type="button"
                    onclick="loadView('game/stages/index')">
                <i class="fa-solid fa-gamepad"></i> Start Game
            </button>
            <button class="btn-game btn-purple sfx-click col-12 mb-3" type="button"
                    onclick="loadView('shop/shop')">
                <i class="fa-solid fa-shop"></i> Shopping
            </button>
            <a class="btn-game btn-purple sfx-click col-12 mb-3 text-white" type="button" target="_blank"
                    href="https://nubank.com.br/pagar/5th42/1efRKgR2V8" style="text-decoration: none">
                <i class="fa-solid fa-hand-holding-dollar"></i> Donate
            </a>
            <button class="btn-game btn-blue sfx-click col-12 mb-3" id="installBtn" style="display: none">
                <i class="fa-solid fa-download"></i> Install
            </button>
        </div>

        <hr class="mb-2">

        <div class="col-6">
            <button class="btn-game btn-purple sfx-click col-12" type="button"
                    onclick="loadView('help/help')">
                <i class="fa-regular fa-circle-question"></i> Help
            </button>
        </div>

        <div class="col-6">
            <button class="btn-game btn-purple sfx-click col-12" type="button"
                    onclick="openMenu()">
                <i class="fa-solid fa-gear"></i> Settings
            </button>
        </div>
    </div>
</div>

<script src="assets/js/install-game.js"></script>
<script>
    playSong('moe-moe-garden-in-the-brain.mp3');
</script>