<div class="d-flex align-items-center justify-content-center center-in-middle">
    <div class="row border-purple border-rounded col-sm-12 col-md-6 col-lg-4">
        <h1 class="text-center">Color Blocking!</h1>

        <hr class="mb-2">

        <div class="col-12" style="margin: 0 auto">
            <button class="btn-game btn-green sfx-click col-12 mb-3" type="button"
                    onclick="loadView('game/stages/index')">
                <i class="fa-solid fa-gamepad"></i> Start Game
            </button>
            <button class="btn-game btn-purple sfx-click col-12 mb-3" type="button"
                    onclick="loadView('shop/shop')">
                <i class="fa-solid fa-shop"></i> Shop
            </button>
            <button class="btn-game btn-purple sfx-click col-12 mb-3" type="button"
                    onclick="loadView('ranking/ranking')">
                <i class="fa-solid fa-ranking-star"></i> Ranking
            </button>
        </div>

        <hr class="mb-2">

        <div class="col-6">
            <button class="btn-game btn-purple sfx-click col-12" type="button" onclick="togglePlayback(this)">
                <i class='fa-solid fa-pause'></i> Music
            </button>
        </div>
        <div class="col-6">
            <button class="btn-game btn-purple sfx-click col-12" type="button"
                    onclick="loadView('help/help')">
                <i class="fa-regular fa-circle-question"></i> Help
            </button>
        </div>
        <div class="col-12 mt-3 bg-smoke border-rounded">
            <p class="text-center mb-1 mt-2">Game Volume:</p>
            <input type="range" id="master-volume" class="gameslider col-12 mb-3" min="0" max="10" step="1" value="6"
                   onchange="changeVolume(this.value)" style="margin: 0">
        </div>
    </div>
</div>

<script>
    playSong('moe-moe-garden-in-the-brain.mp3');
</script>