.destroy {
    animation: destroying 1s ease 0s 1 normal forwards;
}

@keyframes destroying {
    0% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: rotate(-540deg) scale(0);
    }
}

.entry {
    animation: entring 0.5s ease 0s 1 normal forwards;
}

@keyframes entring {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.wrong {
    animation: wronging 1s ease 0s 1 normal forwards;
}

@keyframes wronging {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}