/*-------------------
    INPUT STYLES
 -------------------*/
.input-game {
    border-radius: 10px;
    outline: 2px solid var(--pink-7);
    border: 0;
    background-color: rgba(255, 255, 255, 0.71);
    outline-offset: 3px;
    padding: 4px 1rem;
    transition: 0.25s;
    margin: 0.75rem 0;
    width: 100%;
}

.input-game:focus {
    background-color: #fff;
    outline: 3px solid var(--pink-4);
}

input.gameslider {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 18px;
    cursor: pointer;
    border-radius: 10px; /* iOS */
    padding: 0;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -200px 0 0 200px var(--blue-3);
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px var(--blue-3);
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: var(--blue-3);
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

/*-------------------
    BUTTONS STYLES
 -------------------*/
.btn-purple {
    background-color: rgba(151, 95, 255, 1);
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(124, 54, 255) inset;
}

.btn-green {
    background-color: rgb(43 205 74);
    color: white;
    box-shadow: 0px 10px 10px rgb(55 213 106) inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(26 159 56) inset;
}

.btn-white {
    background-color: darkgrey;
    color: rgb(255 255 255);
}

.btn-blue {
    background-color: rgba(29, 140, 248, 1);
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgba(20, 75, 148, 0.6) inset;
}

.btn-red {
    background-color: rgba(255, 64, 64, 1);
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgba(169, 0, 0, 0.6) inset;
}

/*-------------------
    BUTTONS DETAILS
 -------------------*/
.btn-game {
    position: relative;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem 1.675rem;
    font-size: 18px;
    margin: 0.20rem 0.125rem;
    text-shadow: 2px 2px 2px var(--simple-tones-4);
}

.btn-game::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.56);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
}

.btn-game::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
}

.btn-game:hover {
    text-decoration: underline 2px solid rgba(255, 255, 255, .5);
    text-underline-offset: 4px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/*-------------------------
    BORDER COLORS/STYLES
 -------------------------*/
.border-purple {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(0, 41, 127, 1), rgba(151, 95, 255, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-blue {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(0, 41, 127, 1), rgb(27, 142, 204)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-red {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(127, 0, 0, 1), rgba(255, 95, 95, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-green {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(0, 127, 0, 1), rgba(95, 255, 95, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-orange {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(255, 127, 0, 1), rgba(255, 191, 95, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-yellow {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(255, 204, 0, 1), rgba(255, 239, 95, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-pink {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(255, 0, 127, 1), rgba(255, 159, 191, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-gray, .border-white {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(128, 128, 128, 1), rgba(207, 207, 207, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
    color: black;
}
.border-brown {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(127, 63, 0, 1), rgba(191, 127, 63, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-dark {
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(239 239 239 / 96%)) padding-box, linear-gradient(to top, rgba(0, 0, 0, 1), rgba(63, 63, 63, 1)) border-box;
    border: 4px solid transparent;
    padding: 0.325rem 1rem;
}
.border-rounded {
    border-radius: 20px;
}

/*-------------------------
        CARD STYLES
 -------------------------*/
.card-game {
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
}

.card-game > .card-game-content {
    position: relative;
    z-index: 1;
    color: white;
    width: 100%;
}

.card-game::before {
    content: '';
    position: absolute;
    top: -100%;
    width: 300%;
    background-image: linear-gradient(180deg, var(--blue-0), var(--pink-7));
    height: 300%;
    animation: rotBGimg 7s linear infinite;
    transition: all 0.2s linear;
}

.card-game::after {
    content: '';
    position: absolute;
    background: #00000059;
    inset: 5px;
    border-radius: 15px;
}

.card-game:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), var(--purple-2));
    animation: rotBGimg 3.5s linear infinite;
    opacity: 0.6;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/*-------------------------
     CARD BG COLORS
 -------------------------*/
.bg-card-red {
    background: #e85151;
}
.bg-card-red::before {
    background-image: linear-gradient(180deg, rgb(245, 39, 46), rgb(255, 162, 95));
}
.bg-card-red:hover:before {
    background-image: linear-gradient(180deg, rgb(255, 204, 0), rgba(193, 189, 218, 1));
}
.bg-card-dark {
    background: #c9c6c6;
}
.bg-card-dark::before {
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(37, 37, 37));
}
.bg-card-dark:hover:before {
    background-image: linear-gradient(180deg, rgb(215, 213, 209), rgba(193, 189, 218, 1));
}
.bg-card-white {
    background: #c9d0cc;
}
.bg-card-white::before {
    background-image: linear-gradient(180deg, rgb(184, 227, 224), rgb(194, 192, 192));
}
.bg-card-white:hover:before {
    background-image: linear-gradient(180deg, rgb(155, 155, 155), rgb(149, 200, 208));
}
.bg-card-yellow {
    background: #ead047;
}
.bg-card-yellow::before {
    background-image: linear-gradient(180deg, rgb(189, 148, 43), rgb(229, 214, 39));
}
.bg-card-yellow:hover:before {
    background-image: linear-gradient(180deg, rgb(92, 204, 58), rgb(61, 120, 197));
}
.bg-card-green {
    background: #8dd45f;
}
.bg-card-green::before {
    background-image: linear-gradient(180deg, rgb(61, 173, 64), rgb(143, 210, 69));
}
.bg-card-green:hover::before {
    background-image: linear-gradient(180deg, rgb(33, 150, 83), rgb(65, 207, 139));
}
.bg-card-blue {
    background: #4aa0e8;
}
.bg-card-blue::before {
    background-image: linear-gradient(180deg, rgb(19, 93, 204), rgb(58, 160, 232));
}
.bg-card-blue:hover::before {
    background-image: linear-gradient(180deg, rgb(6, 61, 128), rgb(26, 120, 230));
}

/*-------------------------
     BACKGROUND COLORS
 -------------------------*/
.text-shadow {
    text-shadow: 2px 2px 2px var(--simple-tones-4);
}

.bg-smoke {
    background: var(--simple-tones-0);
}

.bg-orange {
    background: #DE9759FF;
}

.bg-red {
    background: rgb(127 0 0);
}

.bg-blue {
    background: var(--blue-0);
}

.bg-purple{
    background: rgb(116 62 185);;
}

.bg-green {
    background: rgb(0 127 0);
}

.bg-yellow {
    background: rgb(255 204 0);
}

.bg-pink {
    background: rgb(255 0 127);
}

.bg-brown {
    background: rgb(127 63 0);
}

.bg-white {
    background: rgb(180, 180, 180) !important;
}

/*-------------------------
   SQUARES BGS IN GAME
 -------------------------*/
.set-icon-bg{
    background-repeat: no-repeat;
    background-position: center center;
}
.snow-icon{
    background-image: url("../../images/icons/snow-icon.png");
    background-color: #80c0c9 !important;
}
.snowball-icon{
    background-image: url("../../images/icons/snowball-icon.png");
    background-color: #9ab0b3 !important;
}
.snowman-icon{
    background-image: url("../../images/icons/snowman-icon.png");
    background-color: #437991 !important;
}
.goggles-icon{
    background-image: url("../../images/icons/goggles-icon.png");
    background-color: #1b8fc3 !important;
}
.thermometer-icon{
    background-image: url("../../images/icons/thermometer-icon.png");
    background-color: #3d565b !important;
}
.cube-icon{
    background-image: url("../../images/icons/cube-icon.png");
    background-color: #7b8283 !important;
}
.wind-icon{
    background-image: url("../../images/icons/wind-icon.png");
    background-color: #74b3d5 !important;
}

.bottle-icon{
    background-image: url("../../images/icons/bottle-icon.png");
    background-color: #3d61bd !important;
}
.cup-icon{
    background-image: url("../../images/icons/cup-icon.png");
    background-color: #6483d1 !important;
}
.drop-icon{
    background-image: url("../../images/icons/drop-icon.png");
    background-color: #2962f3 !important;
}
.faucet-icon{
    background-image: url("../../images/icons/faucet-icon.png");
    background-color: #5d82e1 !important;
}
.rain-icon{
    background-image: url("../../images/icons/rain-icon.png");
    background-color: #3d45ff !important;
}
.sea-icon{
    background-image: url("../../images/icons/sea-icon.png");
    background-color: #6067fb !important;
}
.waterfall-icon{
    background-image: url("../../images/icons/waterfall-icon.png");
    background-color: #777ced !important;
}

.alien-icon{
    background-image: url("../../images/icons/alien-icon.png");
    background-color: #5c656f !important;
}
.astronaut-icon{
    background-image: url("../../images/icons/astronaut-icon.png");
    background-color: #83888d !important;
}
.comet-icon{
    background-image: url("../../images/icons/comet-icon.png");
    background-color: #797c86 !important;
}
.moon-icon{
    background-image: url("../../images/icons/moon-icon.png");
    background-color: #4b4a4a !important;
}
.planet-icon{
    background-image: url("../../images/icons/planet-icon.png");
    background-color: #232222 !important;
}
.satellite-icon{
    background-image: url("../../images/icons/satellite-icon.png");
    background-color: #a1a1a1 !important;
}
.ship-icon{
    background-image: url("../../images/icons/ship-icon.png");
    background-color: #777676 !important;
}

.fruit-icon{
    background-image: url("../../images/icons/fruit-icon.png");
    background-color: #1c671e !important;
}
.geo-icon{
    background-image: url("../../images/icons/geo-icon.png");
    background-color: #66bb23 !important;
}
.mask-icon{
    background-image: url("../../images/icons/mask-icon.png");
    background-color: #7c917c !important;
}
.oke-icon{
    background-image: url("../../images/icons/oke-icon.png");
    background-color: #639653 !important;
}
.paw-icon{
    background-image: url("../../images/icons/paw-icon.png");
    background-color: #083d08 !important;
}
.plant-icon{
    background-image: url("../../images/icons/plant-icon.png");
    background-color: #4d7f4e !important;
}
.tree-icon{
    background-image: url("../../images/icons/tree-icon.png");
    background-color: #249126 !important;
}
/*-------------------------
       POWER STYLES
 -------------------------*/
.power-count{
    top: 10%;
    left: 13%;
    z-index: 1;
    font-family: monospace;
    padding: 4px 5px;
}

.powerups{
    width: 3.5rem;
    border-radius: 15px;
    margin-bottom: 4px;
    padding: 6px;
    position: relative;
}

.powerups:hover{
    text-decoration: underline 2px solid rgba(255, 255, 255, .5);
    text-underline-offset: 4px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.powerups > img {
    position: relative;
    top: -1px;
    left: 0.02rem;
}

.fix-power-space{
    margin: 0 4px;
    left: -4px;
    position: relative;
}

.countdown-power{
    color: white;
    position: absolute;
    left: 19px;
    top: 11px;
}

.power-blocked{
    background: rgba(52, 51, 51, 0.74) !important;
}
.power-blocked > img {
    opacity: 0.20 !important;
}

@media only screen and (max-width: 600px) {
    .fix-power-space{
        margin: 0 4px;
        left: -7px;
        position: relative;
    }
}