.clear-all-data{
    display: none !important;
}
.sorted-item{
    border: 1px solid black;
    border-radius: 7px;
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: 0 auto;
}

#grid-game {
    display: grid;
    margin: 10px 0;
    gap: 4px; /* Espaço entre os quadros */
}
.square-item {
    position: relative;
    border: 1px solid black;
    padding: 2px;
    border-radius: 7px;
}

.square-item:before {
    content: "";
    display: block;
    padding-bottom: 100%; /* Proporção de 1:1 para o quadrado */
}

.square-item .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.square-item:hover{
    border: 1px solid #4e8ee1;
    cursor: pointer;
    text-decoration: underline 2px solid rgba(255, 255, 255, .5);
    text-underline-offset: 4px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}