body{
    background: #4e4a4e;
}
.center-in-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.reset-margin-center{
    margin: 0 auto;
    position: relative;
}

.fix-icon-btn{
    position: relative;
    top: -2px;
}

.fix-position{
    position: initial
}

input.gameslider {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px; /* iOS */
    padding: 0;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -200px 0 0 200px #d27d2c; /* 2 */
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px #d27d2c;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #d27d2c;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}