/*-------------------
   BACKGROUND COLORS
 -------------------*/
:root{
    --blue-7: rgba(0, 0, 79, 1);
    --blue-6: rgba(13, 18, 94, 1);
    --blue-5: rgba(0, 24, 108, 1);
    --blue-4: rgba(0, 41, 127, 1);
    --blue-3: rgba(129, 133, 185, 1);
    --blue-2: rgba(158, 161, 202, 1);
    --blue-1: rgba(191, 193, 231, 1);
    --blue-0: rgb(39, 97, 245);
    --purple-7: rgba(61, 19, 101, 1);
    --purple-6: rgba(69, 23, 118, 1);
    --purple-5: rgba(60, 26, 125, 1);
    --purple-4: rgba(83, 61, 139, 1);
    --purple-3: rgba(133, 125, 177, 1);
    --purple-2: rgba(193, 189, 218, 1);
    --purple-1: rgba(230, 225, 239, 1);
    --pink-7: rgba(151, 95, 255, 1);
    --pink-6: rgba(158, 109, 250, 1);
    --pink-5: rgba(171, 133, 243, 1);
    --pink-4: rgba(187, 154, 246, 1);
    --pink-3: rgba(203, 183, 239, 1);
    --pink-2: rgba(219, 207, 241, 1);
    --pink-1: rgba(240, 237, 253, 1);
    --simple-tones-4: rgba(40, 40, 40, 1);
    --simple-tones-3: rgba(119, 119, 119, 1);
    --simple-tones-2: rgba(194, 194, 194, 1);
    --simple-tones-1: rgba(255, 255, 255, 1);
    --simple-tones-0: rgb(203, 203, 203);
}

/*-------------------
   CUSTOM FONTS
 -------------------*/
@font-face {
    font-family: 'Guava Candy';
    src: url('../fonts/Guava Candy.woff') format('woff'),
    url('../fonts/Guava Candy.otf') format('opentype'),
    url('../fonts/Guava Candy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05rem;
}

body{
    font-family: 'Guava Candy', cursive, sans-serif;
    background: var(--simple-tones-2);
    cursor: url("../cursors/cur116.cur"), auto !important;
}

a, button{
    cursor: url('https://cur.cursors-4u.net/games/gam-10/gam987.png'), pointer !important;
}

i{
    margin-right: 5px;
    top: -2px;
    position: relative;
}

a{
    color: #0da2fd;
    text-decoration: underline;
}
a:hover{
    color: #0d6efd;
}

.center-in-middle{
    min-height: 100vh;
}
.align-to-center{
    margin: 0 auto;
}

.message-overlay {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(161, 154, 154, 0.2);
    padding: 2px;
    font-size: 36px;
    text-align: center;
    border-radius: 10px;
    z-index: 9999;
    pointer-events: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card-stage-fix{
        width: 97%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card-stage-fix{
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card-stage-fix{
        width: 48.15%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card-stage-fix{
        width: 48.65%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card-stage-fix{
        width: 32.21%;
    }
}